<div class="font-list clearfix">

    <a href="#" class="bombshell">
        <%= image_tag('bombshell-small.png', alt: 'Description', 'data-interchange' => "[#{image_path('bombshell-small.png')}, (large)]")  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    </a>

    <a href="#" class="bombshell">
        <%= image_tag('bombshell-small.png', alt: 'Description', 'data-interchange' => "[#{image_path('bombshell-small.png')}, (large)]")  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    </a>

    <a href="#" class="bombshell">
        <%= image_tag('bombshell-small.png', alt: 'Description', 'data-interchange' => "[#{image_path('bombshell-small.png')}, (large)]")  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    </a>

    <a href="#" class="bombshell">
        <%= image_tag('bombshell-small.png', alt: 'Description', 'data-interchange' => "[#{image_path('bombshell-small.png')}, (large)]")  %>
        <!-- <img data-interchange="[assets/images/bombshell-small.png, (default)], [/path/to/bigger-image.jpg, (large)]"> -->
    </a>

</div>