// import the CSS framework
@import "foundation";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin respond-min($width) {
  @media screen and (min-width: $width) {
      @content;
  }
}

@mixin respond-max($width) {
  @media screen and (max-width: $width - .0125) {
      @content;
  }
}

nav {
  text-align: center;
  position: relative;
  margin: 4em 0em 0em;
  ul {
    li {
      display: block;
      vertical-align: middle;
      padding: 0% 2%;
      margin: 2em 0;
          @include respond-min(500px) {
            margin: 0;
          }

      @include respond-min(500px) {
        display: inline-block;
      }

      &:nth-child(2) {
        width: 60%;
        margin: 0 auto;
        @include respond-min(500px) {
          width: 40%;
        }
      }
      .logo {
        width: 100%;
        height: auto;
        max-width: 420px;
        fill: #423c3c;
      }
      &:nth-child(1) {
        display: none;
        @include respond-min(500px) {
          display:inline-block;
        }
      }
      &:nth-child(odd) {
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          padding: 10px 34px;
          border: 2px solid #423c3c;
          @include border-radius(4px);
          color: #423c3c;

          &:hover {
            background: #423c3c;
            color: white;
            border: 2px solid lighten(#423c3c,10%);

          }
        }
      }
    }
  }
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
